---
import { Image } from "astro:assets";
import type { Member } from "@content";
import { translateFacultyGrade, translateResearcherGrade } from "@content";
import { Icon } from "astro-icon/components";
import { getEntry } from "astro:content";

interface Props {
  faculty: Member;
}

const props = Astro.props.faculty;
const team = await getEntry("team", props.team.slug);
---

<section>
  <div class="left">
    <div class="icon-wrapper">
      <Image src={props.icon} alt={props.name ? props.name : props.eng_name} />
    </div>

    <div class="link-icons">
      <a
        href={`mailto:${props.username}@hpcs.cs.tsukuba.ac.jp`}
        class="link-icon-wrapper"
      >
        <Icon name="material-symbols:mail-outline-rounded" class="link-icon" />
      </a>
      <a
        href={`https://www.hpcs.cs.tsukuba.ac.jp/~${props.username}`}
        class="link-icon-wrapper"
      >
        <Icon name="material-symbols:link-rounded" class="link-icon" />
      </a>
    </div>
  </div>
  <div class="right">
    <h3 class="name-container">
      <div class="name">
        {props.name ? props.name : props.eng_name}
      </div>
      <div class="eng-name">
        {props.eng_name}
      </div>
    </h3>
    {
      (() => {
        switch (props.occupation) {
          case "Faculty":
            return (
              <div class="occupation">{translateFacultyGrade(props.grade)}</div>
            );
          case "Researcher":
            return (
              <div class="occupation">
                {translateResearcherGrade(props.grade)}
              </div>
            );
          case "Student":
            return <div class="occupation">{props.grade}</div>;
          case "Research Student":
            return <div class="occupation">研究生</div>;
        }
      })()
    }
    <div class="sub-divider"></div>
    <div class="team">
      <div class:list={["badge"]}>
        <Icon name={team.data.icon} class="team-icon" />
        {team.data.name}
      </div>
    </div>
  </div>
</section>

<style define:vars={{ teamColor: team.data.color }}>
  .link-icons {
    display: flex;
    flex-direction: row;
    margin-block-start: 1rem;
    justify-content: space-evenly;
    width: 100%;
  }

  .link-icon-wrapper {
    background-color: var(--color-triadic-1);
    color: var(--color-inverted-text-strong);
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-wrapper {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section {
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
    border-radius: 0.3rem;
    padding: 1.5rem;
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .right {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .name-container {
    margin-bottom: 0.5rem;
  }

  .name {
    font-size: var(--font-size-lg);
    font-weight: bold;
    color: var(--color-text-strong);
  }

  .eng-name {
    color: var(--color-text-weak);
    font-size: var(--font-size-sm);
    margin-top: 0.1rem;
  }

  .grade {
    margin-left: 0.25rem;
    color: var(--color-text-weak);
  }

  .occupation {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
  }

  .badge {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--color-inverted-text-strong);
    font-size: 0.9rem;
    width: fit-content;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    min-height: 1.2rem;
    border-radius: 0.6rem;
    background-color: var(--teamColor);
  }

  .team-icon {
    font-size: larger;
    margin-right: 0.3rem;
  }
</style>
