---
import { Image } from "astro:assets";
import Team from "@layouts/team.astro";
import ServerImage from "@asset/team/algo/server-front.jpg";
import FacultyCard from "@components/pages/teams/FacultyCard.astro";
import H1Section from "@components/composite/section/H1.astro";
import List from "@components/display/list/list.astro";
import Typography from "@components/display/Typography.astro";
import ChevronLi from "@components/display/list/item/Chevron.astro";
import Keyword from "@components/display/Keyword.astro";
import ReadMoreLink from "@components/atom/link/ReadMoreLink.astro";
import HStack from "@components/layout/HStack.astro";
import RecentWorks from "@components/pages/teams/RecentWorks.astro";
import Student from "@components/pages/teams/StudentCard.astro";
import Width from "@components/layout/box/Width.astro";
import Youtube from "@components/display/Youtube.astro";
import { getEntry } from "astro:content";
import Grid from "@components/layout/Grid.astro";
import VSpace from "@components/layout/VSpace.astro";

const {
  data: { cover, faculties, students, recentWorks },
} = await getEntry("team", "algo");
---

<Team name="Algorithm team" imgSrc={cover} imgAlt="Algorithmチームの本棚">
  <H1Section headingText="高橋 大介 教授" backgroundInverted={false}>
    <List ordered={false}>
      <ChevronLi>
        <Keyword>高性能数値計算</Keyword>に関する研究
      </ChevronLi>
      <ChevronLi>
        高性能<Keyword>並列数値計算</Keyword>ソフトウェア
      </ChevronLi>
      <ChevronLi>
        <Keyword>GPU</Keyword>や <Keyword>
          MIC（Many Integrated Core）
        </Keyword>などを用いた高性能計算
      </ChevronLi>
      <ChevronLi>
        <Keyword>高精度計算</Keyword>アルゴリズムとその応用
      </ChevronLi>
    </List>
    <Typography>
      我々は，限られた時間の中で大規模な科学技術計算を行うために，スーパーコンピュータの性能をできるだけ発揮できるようなアルゴリズムやプログラミングに関する研究を行っています．高速なプログラムを作成するには，コンピュータの仕組みや数学について深い理解が必要になりますが、努力が性能という数字にそのまま反映されることから，やりがいがある分野です．
    </Typography>
    <ReadMoreLink href="https://www.hpcs.cs.tsukuba.ac.jp/~daisuke/">
      個人ページ
    </ReadMoreLink>
  </H1Section>
  <H1Section headingText="多田野 寛人 助教" backgroundInverted={false}>
    <List ordered={false}>
      <ChevronLi>
        <Keyword>大規模線形計算</Keyword>アルゴリズムに関する研究
      </ChevronLi>
      <ChevronLi>
        <Keyword>
          大規模連立一次方程式
        </Keyword>の高速・高精度・高信頼性アルゴリズムの構築
      </ChevronLi>
      <ChevronLi>
        <Keyword>連立一次方程式</Keyword>の 高速化のための前処理法の開発
      </ChevronLi>
      <ChevronLi>
        並列計算環境における <Keyword>大規模固有値問題</Keyword>の高速解法の開発
      </ChevronLi>
    </List>
    <Typography>
      我々は，連立一次方程式や固有値問題をはじめとした数値解法アルゴリズムの開発を行っています．
    </Typography>
    <ReadMoreLink href="https://www.hpcs.cs.tsukuba.ac.jp/~tadano/">
      個人ページ
    </ReadMoreLink>
  </H1Section>
  <H1Section
    headingText="アルゴリズムチームの使っている計算機について"
    backgroundInverted={false}
  >
    <HStack template="40% 1fr">
      <Typography>
        チームで所有している計算機としては、IntelのXeonプロセッサを搭載した4ノードのクラスタ2つのほか、IntelのXeon
        Phiプロセッサを搭載した4ノードのクラスタがあります。これらは学生によって管理・運用されていて自由に使うことができます。また本研究室は計算科学研究センターと協力関係にあり、研究内容によっては筑波大学が運用するスーパーコンピュータCygnus
        (理論ピーク性能2.4PFLOPS)，Pegasus
        (理論ピーク性能6.5PFLOPS)を利用できます。これらの様々な計算機資源を利用して研究を行うことが可能です。
      </Typography>
      <Image
        src={ServerImage}
        alt="Algorithmチームの計算機クラスタ"
        class="pic-cluster"
      />
    </HStack>
  </H1Section>
  <H1Section headingText="FFT (高速フーリエ変換)" backgroundInverted={false}>
    <Typography>高橋教授の研究内容のひとつであるFFTをご紹介します。</Typography>
    <Youtube
      src="https://www.youtube.com/embed/GPJx5JTGQEU"
      ,
      title="配信講義 計算科学技術特論B (2020) 第6回"
    />
  </H1Section>
  <H1Section headingText="メンバー" backgroundInverted={true} fullW={true}>
    <Grid minW="30rem">
      {
        faculties.map((faculty) => (
          <FacultyCard member={faculty}>
            <Typography>{faculty.message}</Typography>
          </FacultyCard>
        ))
      }
    </Grid>
    <VSpace h="2rem" />
    <Grid minW="13rem">
      {
        students.map((student) => (
          <Student member={student}>
            <Typography>{student.message}</Typography>
          </Student>
        ))
      }
    </Grid>

    <VSpace h="2rem" />
  </H1Section>
  <H1Section headingText="近年の研究成果について" backgroundInverted={false}>
    <Typography>
      教員の研究成果については，以下のページよりご覧ください．
    </Typography>
    <div>
      <div class="teacher-work-link-wrapper">
        <ReadMoreLink
          href="https://www.hpcs.cs.tsukuba.ac.jp/~daisuke/pub-j.html"
        >
          <div class="work-author">
            <span class="work-author-name">高橋 大介</span>
            <span class="work-author-role">教授</span>
          </div>
        </ReadMoreLink>
      </div>

      <div class="teacher-work-link-wrapper">
        <ReadMoreLink
          href="https://www.hpcs.cs.tsukuba.ac.jp/~tadano/publication.html"
        >
          <div class="work-author">
            <span class="work-author-name">多田野 寛人</span>
            <span class="work-author-role">助教</span>
          </div>
        </ReadMoreLink>
      </div>

      <Typography>
        一例として，2023年までに国際学会，情報処理学会HPC研究会等に投稿した研究会原稿を紹介します．
      </Typography>
      <Typography>
        筑波大学は情報処理学会と機関契約をしていますので，筑波大学構内のネットワークからは自由にダウンロード可能です．
      </Typography>
    </div>
    <RecentWorks works={recentWorks} />
  </H1Section>
</Team>

<style>
  .pic-cluster {
    width: auto;
    height: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .teacher-work-link-wrapper {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .work-author {
    display: flex;
    flex-direction: row;
    align-items: end;
  }

  .work-author-name {
    color: var(--color-text-strong);
    font-size: var(--font-size-lg);
  }

  .work-author-role {
    color: var(--color-text-disable);
    font-size: var(--font-size-normal);

    margin-left: 0.5em;
  }
</style>
