---
import { Image } from "astro:assets";
import Team from "@layouts/team.astro";
import cygnus from "@asset/team/arch/Cygnus.png";
import aisConcept from "@asset/team/arch/Ais_concept.png";
import aocl from "@asset/team/arch/aocl.png";
import astroFpga from "@asset/team/arch/astro-fpga.png";
import H1Section from "@components/composite/section/H1.astro";
import List from "@components/display/list/list.astro";
import Typography from "@components/display/Typography.astro";
import ChevronListItem from "@components/display/list/item/Chevron.astro";
import Keyword from "@components/display/Keyword.astro";
import ReadMoreLink from "@components/atom/link/ReadMoreLink.astro";
import HStack from "@components/layout/HStack.astro";
import Width from "@components/layout/box/Width.astro";
import Box from "@components/layout/box/Box.astro";
import Youtube from "@components/display/Youtube.astro";
import { getEntry } from "astro:content";
import FacultyCard from "@components/pages/teams/FacultyCard.astro";
import StudentCard from "@components/pages/teams/StudentCard.astro";
import RecentWorks from "@components/pages/teams/RecentWorks.astro";
import HSpace from "@components/layout/HSpace.astro";
import VStack from "@components/layout/VStack.astro";
import Grid from "@components/layout/Grid.astro";
import VSpace from "@components/layout/VSpace.astro";

const {
  data: { cover, faculties, students, recentWorks },
} = await getEntry("team", "arch");
---

<Team name="Architecture team" imgSrc={cover} imgAlt="group photo">
  <H1Section headingText="朴 泰祐 教授" backgroundInverted={false}>
    <List ordered={false}>
      <ChevronListItem>
        <Keyword>GPU</Keyword>等の<Keyword>
          演算加速装置
        </Keyword>を含む並列処理アーキテクチャ及びネットワークに関する研究
      </ChevronListItem>
      <ChevronListItem>
        これらのシステムを効率的に利用するための <Keyword>
          並列処理言語
        </Keyword>及び<Keyword>コンパイラ</Keyword>に関する研究
      </ChevronListItem>
      <ChevronListItem>
        実応用プログラム開発者との共同研究による<Keyword>
          超並列アプリケーション
        </Keyword>の性能向上に関する研究
      </ChevronListItem>
      <Typography>
        GPUやメニーコアプロセッサ等の演算加速装置をより有効に大規模並列処理に活用する手法や超高性能並列処理向けネットワーク，さらにこれらを活用する高性能並列コンパイラの研究をしています．我々が提案しているTCA
        (Tightly Coupled Accelerators)
        というコンセプトでは，演算加速装置間を従来技術より高速に接続し、
        効率的な並列処理を行う基盤技術開発を行っています．
        また，本学計算科学研究センターの研究者との実用的大規模アプリケーション，
        さらに連携大学院の佐藤三久教授との共同研究の下，
        理化学研究所で進められている次世代超並列計算機（ポスト「京」）プロジェクトとの共同研究も行い，
        ネットワークシミュレーション，独自開発の並列処理言語・コンパイラ等の研究を進めています．
      </Typography>
      <ReadMoreLink href="https://www.hpcs.cs.tsukuba.ac.jp/~taisuke/">
        個人ページ
      </ReadMoreLink>
    </List>
  </H1Section>
  <H1Section headingText="小林 諒平 助教" backgroundInverted={false}>
    <List ordered={false}>
      <ChevronListItem>
        高性能な<Keyword>FPGAアクセラレータ</Keyword>とその開発方式に関する研究
      </ChevronListItem>
    </List>
    <Typography>
      大規模なデータ処理や科学技術計算を高速，かつ低消費電力に実行できるようにするために，電子回路のパターンをプログラムできるハードウェアであるFPGAを応用した計算機システムについて研究しています．具体的にはCPUやGPUをより効率的・大規模に利用するための，FPGA向けのハードウェアアルゴリズムやFPGAベースの専用アクセラレータの提案，実装を行っていきます．また，高性能なFPGAアクセラレータの効率的な開発を睨んだプラットフォームについても同時に研究しています．
    </Typography>
    <ReadMoreLink href="https://sites.google.com/site/ryokbya/">
      個人ページ
    </ReadMoreLink>
  </H1Section>
  <H1Section headingText="研究内容" backgroundInverted={false}>
    <Typography>
      アーキテクチャチームでは，GPUやメニーコアプロセッサ等の演算加速装置をより有効に大規模並列処理に活用する手法や，超高性能並列処理向けネットワーク，さらにこれらを活用する高性能並列コンパイラの研究をしています．
      現在の主な研究テーマは以下の通りです．なお，朴及び小林，藤田の3名が共同で適宜指導を行います。朴教授、小林助教、藤田助教の共同募集で募集人数は8名です．
    </Typography>
    <List ordered={false}>
      <ChevronListItem>
        FPGAを用いた演算オフローディングと高速通信の融合に関する研究
      </ChevronListItem>
      <ChevronListItem>
        大規模メニーコアシステムを用いた超並列アプリケーションの実装と最適化に関する研究（朴）
      </ChevronListItem>
      <ChevronListItem>
        FPGAを用いた高速ソーティング回路に関する研究
      </ChevronListItem>
      <ChevronListItem>
        GPUクラスタに向けた並列プログラミング言語に関する研究
      </ChevronListItem>
      <ChevronListItem>
        次世代スーパーコンピュータの性能予測シミュレータに関する研究
      </ChevronListItem>
    </List>
    以下に，所属している学生達が行っている研究テーマについて紹介します．
  </H1Section>
  <H1Section
    headingText="GPU-FPGA複合システムにおけるデバイス間連携機構"
    backgroundInverted={false}
  >
    <HStack template="40% 1fr">
      <div class="img-container">
        <Image src={cygnus} alt="Supercomputer Cygnus" />
      </div>
      <Typography>
        我々は，高い演算性能とメモリバンド幅を有する GPU (Graphics Processing
        Unit) に演算通信性能に優れている FPGA (Field Programmable Gate Array)
        を連携させ，双方を相補的に利用する GPU-FPGA
        複合システムに関する研究を進めています．我々が提案しているAiS(Accelerator
        in Switch)
        というコンセプトでは，FPGAを高速通信のできる再構成可能な演算加速装置として捉え，CPU-GPU
        クラスタ構成である現在のHPC
        システムの性能を更に向上させる鍵であると考えています．GPUとFPGAを組み合わせた世界初のスーパーコンピュータCygnus
        (左図)
        を用いて，実用的なアプリケーションをターゲットにした提案手法の実験を行っています．
      </Typography>
    </HStack>
    <HStack template="1fr 40%">
      <Typography>
        右図に AiS コンセプトの概要を示します．各ノードには GPU と FPGA
        が搭載されており，それらは PCIe
        バスを介して接続されています．アプリケーションにおける大規模な粗粒度並列処理部分は従来通り
        GPU が担当しつつ，GPU
        ではカバーできない並列性の低い演算部分のオフロードおよび高速ノード間通信処理に
        FPGA
        を適用することによって，より効率的でレイテンシボトルネックの少ない強スケーリングの実現を目指しています．
      </Typography>
      <div class="img-container">
        <Image src={aisConcept} alt="AiS concept" />
      </div>
    </HStack>
  </H1Section>
  <H1Section
    headingText="高性能なFPGAアクセラレータを利用したアプリケーション開発に関する研究"
    backgroundInverted={false}
  >
    <HStack template="60% 1fr">
      <Typography>
        近年，再構成可能ハードウェアとしてFPGAが注目され，多くの分野で使われるようになってきました．
        高性能計算においてもその流れがあり，我々は現在利用されているGPUやCPUがどうしても解決できない問題について，
        FPGAを用いることで高性能化・高速化が行えないか検討しています．また，CPU,
        GPUに加え，FPGAにおいてもOpenCLプラットフォーム (右図)
        がサポートされ，FPGAを用いたプログラミングが従来よりも格段に容易になったこともその流れを後押ししています．
        このOpenCLの記述能力をフルに活用して，プログラミングコストを削減しつつ高性能なFPGAアクセラレータを実現することを目指しています．
        その一環として，初期宇宙の研究に重要な輻射輸送を解くプログラムで用いられているアルゴリズムをOpenCLで記述してFPGA向けに最適化する研究を本学の計算科学研究センターに所属する宇宙物理の研究者と共同で実施しています．
      </Typography>
      <VStack template="1fr 1fr">
        <div class="img-container">
          <Image src={aocl} alt="aocl description" />
        </div>
        <div class="img-container">
          <Image src={astroFpga} alt="astro-FPGA description" />
        </div>
      </VStack>
    </HStack>
  </H1Section>
</Team>
<H1Section headingText="世界的な活動" backgroundInverted={false}>
  <Typography>
    朴教授は国際会議における議長やプログラム委員長を務めるなど、世界的に活躍しています．
    また，小林助教も国際会議のプログラム委員の経験があります．
  </Typography>
  <Box mode="v" p="1rem">
    <VStack template="1fr 1fr 1fr">
      <Youtube
        src="https://www.youtube.com/embed/zT1BKPU8VVk"
        title="Developing Faster Algorithms with OpenACC and XcalableACC"
      />
      <Youtube
        src="https://www.youtube.com/embed/RgADPWRNBgM"
        title="Oakforest-PACS: Overview of the New JCAHPC Computing Facility"
      />
      <Youtube
        src="https://www.youtube.com/embed/BDPsa7AP7NA"
        title="Interview with HPC in Asia Chair Prof. Dr. Taisuke Boku"
      />
    </VStack>
  </Box>
</H1Section>
<H1Section headingText="他チームとの協力" backgroundInverted={false}>
  <Typography>
    並列プログラミング言語に関する研究はPAチームとの共同研究で，我々のPEACH2をPAチームで開発している並列言語XcalableMPの演算加速装置向け拡張XcalableACCに導入した実績もあります．
    また，FPGAチームとも協力しFPGAの基礎評価や並列アプリケーションの実装などを行っています．
  </Typography>
</H1Section>
<H1Section headingText="メンバー" backgroundInverted={true} fullW={true}>
  <Grid minW="30rem">
    {
      faculties.map((faculty) => (
        <FacultyCard member={faculty}>
          <Typography>{faculty.message}</Typography>
        </FacultyCard>
      ))
    }
  </Grid>
  <VSpace h="2rem" />
  <Grid minW="18rem">
    {
      students.map((student) => (
        <StudentCard member={student}>
          <Typography>{student.message}</Typography>
        </StudentCard>
      ))
    }
  </Grid>
</H1Section>
<H1Section headingText="近年の研究成果" backgroundInverted={false}>
  <RecentWorks works={recentWorks} />
</H1Section>

<style>
  .img-container {
    width: 100%;
  }

  .img-container-cygnus > a {
    width: 100%;
    height: auto;
  }
</style>
