---
import Typography from "../atom/typography.astro";
import Student from "./student.astro";

export type Member = {
  name: string;
  role: string;
  keywords?: string[];
  message: string;
  icon: string;
};

interface Props {
  students: Member[];
}
const { students } = Astro.props;
---

<div class="container">
  {
    students.map((member) => (
      <div class="child-wrapper">
        <Student
          name={member.name}
          role={member.role}
          keywords={member.keywords}
          icon={member.icon}
        >
          <Typography>{member.message}</Typography>
        </Student>
      </div>
    ))
  }
</div>

<style>
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .child-wrapper {
    height: 100%;
  }
</style>
