---
import Carousel, { type CarouselPicture } from "../components/carousel.astro";
import Base from "../layouts/base.astro";
import COMA from "../resource/img/carousel/COMA.jpg";
import Cygnus from "../resource/img/carousel/Cygnus.png";
import HA_PACS from "../resource/img/carousel/HA-PACS.jpg";
import { news } from "../resource/pages/news";
import Typography from "../components/atom/typography.astro";
import List from "../components/list/list.astro";
import ListItem from "../components/list/list-item.astro";
import TopLevelSection from "../components/layout/top-level-section.astro";
import Keyword from "../components/atom/keyword.astro";
import ReadMoreLink from "../components/anchor/read-more-link.astro";
import ResponsiveWidth from "../components/layout/responsive-width.astro";
import ChevronListItem from "../components/list/chevron-list-item.astro";
import NoImgHeader from "../components/common/no-img-header.astro";
import ExternalLink from "../components/anchor/external-link.astro";

const carouselPictures: CarouselPicture[] = [
  {
    src: COMA,
    alt: "COMA",
  },
  {
    src: Cygnus,
    alt: "Cygnus",
  },
  {
    src: HA_PACS,
    alt: "HA-PACS",
  },
];
---

<Base>
  <Carousel pictures={carouselPictures} width={1200} height={300} />

  <NoImgHeader>HPCS Laboratory</NoImgHeader>
  <section class="about">
    <ResponsiveWidth>
      <Typography>
        筑波大学ハイパフォーマンス・コンピューティング・システム研究室では，超並列計算機からクラスタまで，高性能計算に関連した以下の研究を行っています．
      </Typography>
      <List ordered={false}>
        <ChevronListItem>
          各種<Keyword>並列処理システム</Keyword>における高性能計算と性能評価
        </ChevronListItem>
        <ChevronListItem>
          プロセッサからネットワークまで<Keyword>
            計算機アーキテクチャ
          </Keyword>に関する研究
        </ChevronListItem>
        <ChevronListItem>
          <Keyword>GPU</Keyword>
          や
          <Keyword>メニーコア</Keyword>,
          <Keyword>FPGA</Keyword>
          などの高性能計算向けアーキテクチャの研究
        </ChevronListItem>
        <ChevronListItem>
          高性能<Keyword>並列処理コンパイラ</Keyword>の研究
        </ChevronListItem>
        <ChevronListItem>
          <Keyword>大規模データ処理 (ビッグデータ)</Keyword> 技術の研究
        </ChevronListItem>
        <ChevronListItem>
          大規模計算機を支える<Keyword>ストレージ技術</Keyword>や<Keyword>
            システムソフトウェア
          </Keyword>に関する研究
        </ChevronListItem>
        <ChevronListItem>
          大規模計算機における<Keyword>高性能数値計算</Keyword>技術の研究
        </ChevronListItem>
      </List>
      <Typography>
        特に，筑波大学計算科学研究センターで運用されている多重複合型演算加速スーパーコンピュータCygnus,
        最先端共同HPC基盤施設（JCAHPC）のOakforest-PACSでは，
        これらの大規模並列計算機を用いて各種計算科学応用分野と積極的な関係・共同研究を行っており，
        並列言語・ライブラリ・アルゴリズム等、様々な面で実世界に役立つ高性能計算を目指した研究を進めています．
      </Typography>
    </ResponsiveWidth>
  </section>

  <TopLevelSection
    headingText="卒研配属情報はこちらから"
    headingUrl="/bachelor"
    backgroundInverted={false}
  />
  <TopLevelSection
    headingText="What's news"
    headingUrl="/news/"
    backgroundInverted={false}
  >
    <List ordered={false}>
      {
        news.slice(0, 10).map((frontmatter) => (
          <ListItem class="news-headline">
            <div>
              <span class="news-date">{frontmatter.date}</span>
              <ExternalLink
                href={`/news/${frontmatter.year}/${frontmatter.slug}`}
              >
                {frontmatter.title}
              </ExternalLink>
            </div>
          </ListItem>
        ))
      }

      <ListItem>
        <ReadMoreLink href="/news">さらに読む</ReadMoreLink>
      </ListItem>
    </List>
  </TopLevelSection>
</Base>

<style>
  h1 {
    font-size: var(--font-size-3xl);
    color: var(--color-inverted-text-strong);
    padding-block-start: 1rem;
    padding-block-end: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: var(--color-bg-dark);
  }

  .about {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .news-date {
    color: var(--color-text-disable);
    font-size: smaller;
  }
</style>
