---
import ReadMoreLink from "../../components/anchor/read-more-link.astro";
import Base from "../../layouts/base.astro";
import { news } from "../../resource/img/pages/news/index";
---

<Base title="News">
  <section>
    <h1>News</h1>
  </section>
  <section>
    <ul>
      {
        news.map((frontmatter) => (
          <li>
            <div class="title">
              <ReadMoreLink
                href={`/news/${frontmatter.year}/${frontmatter.slug}`}
              >
                {frontmatter.title}
              </ReadMoreLink>
            </div>
            <div class="date">{frontmatter.date}</div>
            <p class="description">{frontmatter.description}</p>
          </li>
        ))
      }
    </ul>
  </section>
</Base>

<style>
  section {
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 2em;
  }

  h1 {
    font-size: xx-large;
    font-weight: bold;
  }

  li {
    margin: 2em;
    border-bottom: var(--bg-dark) solid 1px;
    padding: 1em;
  }

  .date {
    margin-top: 1em;
    margin-left: 1em;
    color: var(--color-text-disable);
  }

  .title {
    font-size: var(--font-size-lg);
    color: var(--color-text-strong);
  }

  p {
    margin-top: 0.5em;
    line-height: 1.8em;
    margin-left: 1em;
  }
</style>
../../resource/img/pages/news/index
