---
import ReadMoreLink from "../../components/anchor/read-more-link.astro";
import Typography from "../../components/atom/typography.astro";
import TopLevelSection from "../../components/layout/top-level-section.astro";
import Base from "../../layouts/base.astro";
import { news } from "../../resource/pages/news";
---

<Base title="News">
  <TopLevelSection
    headingText="News"
    headingUrl={undefined}
    backgroundInverted={false}
  >
    <ul>
      {
        news.map((frontmatter) => (
          <li>
            <div class="title">
              <ReadMoreLink
                href={`/news/${frontmatter.year}/${frontmatter.slug}`}
              >
                {frontmatter.title}
              </ReadMoreLink>
            </div>
            <div class="detail">
              <div class="date">{frontmatter.date}</div>
              <Typography>{frontmatter.description}</Typography>
            </div>
          </li>
        ))
      }
    </ul>
  </TopLevelSection>
</Base>

<style>
  h1 {
    font-size: xx-large;
    font-weight: bold;
  }

  li {
    margin: 2em;
    border-bottom: var(--bg-dark) solid 1px;
    padding: 1em;
  }

  .detail {
    margin-left: 2rem;
  }

  .date {
    margin-top: 1em;
    color: var(--color-text-disable);
  }

  .title {
    font-size: var(--font-size-lg);
    color: var(--color-text-strong);
  }
</style>
