---
import HoverLink from "./hover-link.astro";

export type SubPage = {
  title: string;
  url: string;
};

export type IndexPage = {
  title: string;
  url?: string;
  children: SubPage[];
};

const pages: IndexPage[] = [
  {
    title: "Teams",
    url: "/teams",
    children: [
      {
        title: "Algorithm",
        url: "/teams/algo",
      },
      {
        title: "System Software",
        url: "/teams/ss",
      },
      {
        title: "FPGA",
        url: "/teams/fpga",
      },
      {
        title: "Architecture",
        url: "/teams/arch",
      },
      {
        title: "PA",
        url: "/teams/pa",
      },
    ],
  },
  {
    title: "Members",
    url: "/members",
    children: [
      {
        title: "Members",
        url: "/members",
      },
      {
        title: "Alumnus",
        url: "/members/alumnus",
      },
    ],
  },
  {
    title: "News",
    url: "/news",
    children: [],
  },
  {
    title: "Publications",
    url: "/publications",
    children: [],
  },
  {
    title: "Access",
    url: "/access",
    children: [],
  },
  {
    title: "Link",
    children: [
      {
        title: "筑波大学",
        url: "https://www.tsukuba.ac.jp/",
      },
      {
        title: "システム情報工学研究群",
        url: "https://www.sie.tsukuba.ac.jp/",
      },
      {
        title: "情報理工学位プログラム",
        url: "https://www.cs.tsukuba.ac.jp/",
      },
      {
        title: "情報科学類",
        url: "https://www.coins.tsukuba.ac.jp/",
      },
      {
        title: "計算科学研究センター",
        url: "https://www.ccs.tsukuba.ac.jp/",
      },
      {
        title: "卒研配属情報",
        url: "http://localhost:5173/bachelor/#!index.md",
      },
      {
        title: "情報システム実験B",
        url: "https://www.hpcs.cs.tsukuba.ac.jp/experiment/text.html",
      },
      {
        title: "Internal",
        url: "http://localhost:5173/internal/pukiwiki/",
      },
    ],
  },
];
---

<header>
  <nav class="logo">
    <a href="/">HPCS Lab.</a>
  </nav>
  <nav class="nav-wrapper">
    <ul class="nav-index-container">
      {
        pages.map((page) => (
          <li class="nav-index">
            <div class="nav-index-link-wrapper">
              {page.url ? (
                <a href={page.url}>{page.title}</a>
              ) : (
                <span>{page.title}</span>
              )}
            </div>
            {page.children.length > 0 ? (
              <nav
                class:list={
                  page.title === pages[pages.length - 1].title
                    ? ["drawer-last", "drawer"]
                    : ["drawer"]
                }
              >
                <ul>
                  {page.children.length == 0
                    ? null
                    : page.children.map((subpage) => (
                        <li>
                          <HoverLink href={subpage.url} bgColor="light">
                            {subpage.title}
                          </HoverLink>
                        </li>
                      ))}
                </ul>
              </nav>
            ) : null}
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style>
  :root {
    --drawer-width: 14em;
    --drawer-height: 16em;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    background-color: var(--color-bg-white);
    position: sticky;
    z-index: 100;
    height: var(--header-height);
    max-height: var(--header-height);
    min-height: var(--header-height);
    color: var(--color-text-strong);
    box-shadow: 0px 6px 6px -4px rgba(0, 0, 0, 0.1);
  }

  header a:visited {
    color: var(--color-text-strong);
  }

  header a:link {
    color: var(--color-text-strong);
  }

  .nav-wrapper {
    height: 100%;
  }

  .nav-index-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding: 0 1rem 0 1rem;
  }

  .nav-index-link-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-index-link-wrapper a {
    padding: 0.5em;
  }

  .nav-index-link-wrapper > a:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .nav-index {
    margin: 0 0.5rem 0 0.5rem;
    position: relative;
    z-index: 1;
    height: 100%;
  }

  @keyframes show-drawer {
    0% {
      transform: scale(0.95);
      visibility: visible;
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes hide-drawer {
    0% {
      visibility: visible;
      transform: scale(1);
    }

    99% {
      visibility: visible;
      transform: scale(0.95);
    }

    100% {
      visibility: hidden;
    }
  }

  .drawer {
    position: absolute;
    width: var(--drawer-width);
    left: calc(50% - var(--drawer-width) / 2);
    visibility: hidden;
    transition:
      transform 0.1s ease-out,
      visibility 0.1s ease-out;
    z-index: 100;
    transform: scale(0.95);
  }

  .drawer-last {
    right: -1.5rem;
    left: unset;
    width: 20em;
  }

  .drawer > ul {
    border-radius: 2px;
    background-color: var(--color-bg-white);
    padding: 0.5em;
    margin: 0.5em;
    box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
  }

  .drawer > ul > li {
    padding: 0.7em 0em 0.7em 0.5em;
    width: 100%;
  }

  .drawer > ul > li:hover {
  }

  .nav-index-link-wrapper:hover a {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.3em;
  }

  .drawer:hover {
    visibility: visible;
    transform: scale(1);
  }

  .nav-index:hover > .drawer {
    visibility: visible;
    transform: scale(1);
  }

  .logo {
    font-size: var(--font-size-2xl);
    font-weight: lighter;
    margin-left: 2rem;
    font-family: ui-monospace;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
</style>
